.comfortaa {
  font-family: "Comfortaa", cursive;
}
.monospace {
  font-family: "Source Code Pro", monospace;
}
.roboto {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

.nav {
  position: relative;
  z-index: 1;
  height: 0;
}

.logo {
  position: absolute;
  left: 20px;
  top: 20px;
}

.nav_items {
  position: absolute;
  right: 40px;
  top: 50px;
}

.nav_item {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin-left: 50px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  transition: 0.4s;
}
.nav_item:hover {
  color: #7b7b7b;

  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/* @media (max-width: ) */

.me_image {
  background: url(images/backgrounds/me.png);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.home_text {
  position: absolute;
  left: 50%;
  top: 40%;
}

.hey_there {
  font-family: "Sonsie One", cursive;
  font-size: 75px;
}

.im_michelle {
  margin-top: 30px;
  margin-left: 40px;
  font-size: 50px;
}

.about_page {
  overflow: hidden;
  position: relative;
}

.ocean_image {
  background: url(images/backgrounds/ocean.jpg);
  height: 750px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  position: relative;
  z-index: -1;
}

.rectangle {
  background-color: white;
  height: 600px;
  width: 945px;

  position: absolute;
  left: 50%;
  top: 150px;
  text-align: center;

  transform: translateX(-50%);
  transition: cubic-bezier(0.56, 0.25, 0.83, 0.78);
  transition-duration: 0.5s;
}
.rectangle:hover {
  transform: translate(-50%, 0%) rotate(6deg);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.about_title {
  padding-top: 60px;
  transform: rotate(-6deg);
  font-size: 34px;
  color: #22223b;
}

.about_text {
  margin: 40px 80px;
  transform: rotate(-6deg);
  font-size: 18px;
  text-align: justify;
  line-height: 32px;
}

.exp_page {
  background: linear-gradient(#3d3d3d -52.38%, #ffffff 52.26%);
  mix-blend-mode: normal;

  text-align: center;
  padding-top: 185px;
  padding-bottom: 100px;
}

.work_title {
  color: #f1f1f1;
  text-shadow: 0px 4px 6px rgb(0 0 0 / 43%);
  font-size: 57px;
  transform: translate(-20%, 13px);
}

.company_wrapper {
  font-size: 18px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.company_wrapper:hover .opacity_zero {
  opacity: 1;
}
.company_wrapper:hover .company_logo {
  width: 40%;
  margin: 0px auto;
}

.opacity_zero {
  opacity: 0;
  transition: 1s;
}

.company_logo {
  display: block;
  margin: 40px auto 0 auto;
  filter: brightness(200);
  -webkit-filter: brightness(200);
  transition: 1s;
  width: 50%;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}

.company_desc {
  padding-top: 12px;
  font-style: italic;

  width: 70%;
  margin: 0 auto;
}

.company_par {
  width: 80%;
  margin: 0 auto;
  text-align: justify;
  text-align-last: center;
}

.check_it_out {
  color: white;
  border: 2px solid white;
  display: inline-block;
  margin: 0 auto;
  padding: 10px 15px;
  transition: 0.5s ease-out;
}
.check_it_out:hover {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.background_navy {
  background-color: #22223b;
}

.background_light_blue {
  background-color: #93bbe4;
}

.background_light_gray {
  background-color: #bababa;
}

.background_burnt_orange {
  background-color: #af3800;
}

.box_full_width {
  width: 84%;
  height: 400px;
  margin: auto;
  color: white;
}

.box_half_width {
  width: 42%;
  height: 400px;

  display: inline-block;
  vertical-align: top;
  color: white;
}

.github_button {
  margin-top: 50px;

  text-decoration: none;
  color: #22223b;
  padding: 15px;
  border: 2px solid #22223b;
  font-weight: 600;
  font-size: 22px;

  transition-property: transform;
  transition-duration: 1s;
}

.github_button:hover {
  transform: rotateY(180deg);
}

.contact_page {
  padding-top: 190px;
  height: calc(100vh - 225px);

  background: linear-gradient(#3d3d3d -52.38%, #ffffff 52.26%);
  mix-blend-mode: normal;

  display: flex;
  justify-content: center;
}

.contact_words {
  text-align: end;
  flex: 1;
}

.im_glad {
  font-size: 50px;
  font-weight: 600;
  margin: 40px;
}

.contact_par {
  font-size: 22px;
  line-height: 35px;
  margin: 40px;
}

.icon_group {
  display: flex;
}

.icons {
  display: flex;
  flex-direction: column;
  flex: 1.2;
}

.icon_img {
  margin-bottom: 30px;
  margin-right: 20px;

  transition: 0.6s cubic-bezier(0.34, 1.56, 0.64, 1.7);
}

.icon_words {
  font-size: 62px;
  font-family: "Sonsie One", cursive;
  text-decoration: none;
  color: black;

  opacity: 0;
  transform: translateX(-100px);
  transition: 0.6s cubic-bezier(0.34, 1.56, 0.64, 2.7);
}
.icon_group:hover .icon_words {
  opacity: 1;
  transform: translateX(0px);
}
.icon_group:hover .icon_img {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

@media (max-width: 850px) {
  .nav {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    position: relative;
    left: auto;
    top: auto;
    height: 80px;
    padding: 10px 0 0 10px;
  }

  .nav_items {
    display: flex;
    flex-direction: column;
    text-align: right;
    position: relative;

    right: auto;
    top: auto;

    padding: 10px 10px 0 0;
  }

  .nav_item {
    font-size: 16px;
    margin: 0 0 10px 0;
  }

  .me_image {
    background-image: linear-gradient(
      to right top,
      #4773b4,
      #687aac,
      #7d82a4,
      #8c8b9d,
      #969696
    );
  }

  .home_text {
    position: relative;
    text-align: center;
    left: 0;
  }

  .hey_there {
    font-size: 38px;
  }

  .im_michelle {
    font-size: 26px;
  }

  .ocean_image {
    height: 920px;
    padding-bottom: 150px;
  }

  .rectangle {
    height: 920px;
    width: 100vw;
  }

  .about_title {
    transform: rotate(0deg);
  }
  .about_text {
    transform: rotate(0deg);
    margin: 40px 30px;
  }

  .work_title {
    font-size: 24px;
  }

  .opacity_zero {
    opacity: 1;
  }

  .company_logo {
    height: 40px;
    margin: 0px auto;
  }

  .company_par {
    font-size: 16px;
  }

  .company_desc {
    font-size: 14px;
  }

  .languages {
    font-size: 14px;
  }

  .github_button {
    font-size: 16px;
  }

  .contact_page {
    display: block;
  }

  .contact_words {
    text-align: center;
  }

  .icon_words {
    display: none;
  }

  .icons {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 1105px) {
  .rotation_box {
    width: 84%;
  }
  .gwc_box {
    width: 84%;
  }

  .opacity_zero {
    opacity: 1;
  }

  .company_logo {
    height: 40px;
    margin: 0px auto;
  }

  .work_title {
    transform: translate(0, 0);
  }
}

@media (max-width: 1160px) {
  .hey_there {
    font-size: 60px;
  }

  .im_michelle {
    font-size: 30px;
  }
}
