.comfortaa {
  font-family: 'Comfortaa', cursive;
}
.monospace {
  font-family: 'Source Code Pro', monospace;
}
.roboto {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  display:inline-block;
}

.nav {
  position: relative;
  z-index: 1;
  height: 0;
}

.logo {
  position: absolute;
  left: 20px;
  top: 20px;
}

.nav_items {
  position: absolute;
  right: 40px;
  top: 50px;
}

.nav_item {
  text-decoration: none;
  font-size: 18px;
  margin-left: 50px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  transition: 0.4s;
}
.nav_item.white {
  color: white;
}
.nav_item.black {
  color: black;
}
.nav_item:hover {
  color: #7b7b7b;

  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.me_image {
  background: url(images/backgrounds/me.png);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.home_text {
  position: absolute;
  left: 50%;
  top: 40%;   
}

.hey_there {
  font-family: 'Sonsie One', cursive;
  font-size: 75px;
}

.im_michelle {
  margin-top: 30px;
  margin-left: 40px;
  font-size: 50px;
}

.about_page {
  overflow: hidden;
  position: relative;
}

.ocean_image {
  background: url(images/backgrounds/ocean.jpg);
  height: 750px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  position: relative;
  z-index: -1;
}

.rectangle {
  background-color: white;
  height: 600px;
  width: 945px;

  position: absolute;
  left: 50%;
  top: 150px;
  text-align: center;
  
  transform: translateX(-50%);
  transition: cubic-bezier(.56,.25,.83,.78);
  transition-duration: .5s;
}
.rectangle:hover {
  transform: translate(-50%, 0%) rotate(6deg);
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.about_title {
  padding-top: 60px;
  transform: rotate(-6deg);
  font-size: 34px;
  color: #555555;
}

.about_text {
  margin: 40px 80px;
  transform: rotate(-6deg);
  font-size: 18px;
  text-align: justify;
  line-height: 32px;
}

.exp_page {
  text-align: center;
  padding-top: 185px;
  padding-bottom: 100px;
}

.work_title {
  font-size: 57px;
  transform: translate(-20%, 13px);
}

.company_wrapper {
  font-size: 18px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.company_wrapper:hover .opacity_zero {
  opacity: 1.0;
}
.company_wrapper:hover .company_logo {
  height: 50px;
  margin: 0px auto;
  filter: brightness(100%);
  -webkit-filter: brightness(100%);
}


.opacity_zero {
  opacity: .0;
  transition: 1s;
}

.company_logo {
  display: block;
  margin: 40px auto 0 auto;
  height: 175px;
  filter: brightness(200);
  -webkit-filter: brightness(200);
  transition: 1s;
}

@keyframes pulse {
	0% {transform: scale(0.95);}
	70% {transform: scale(1);}
	100% {transform: scale(0.95);}
}

.company_desc {
  padding-top: 12px;
  font-style: italic;

  width: 70%;
  margin: 0 auto;
}

.company_par {
  width: 80%;
  margin: 0 auto;
  text-align: justify;
  text-align-last: center;
}

.check_it_out {
  color: white;
  border: 2px solid white;
  display: inline-block;
  margin: 0 auto;
  padding: 10px 15px;
  transition: .5s ease-out;
}
.check_it_out:hover {
  -webkit-transform: scale(.9);
  -ms-transform: scale(.9);
  transform: scale(.9);
}

.indicative_box {
  background-color: #22223B;
  width: 84%;
  height: 400px;
  margin: auto;
  color: white;
}

.rotation_box {
  background-color: #93BBE4;
  width: 42%;
  height: 400px;
  
  display: inline-block; 
  vertical-align: top;
  color: white;
}

.gwc_box {
  background-color: #bababa;
  width: 42%;
  height: 400px;
  
  display: inline-block; 
  vertical-align: top;
  color: white;
}

.row_two {
  text-align: center;
  margin-bottom: 50px;
}

.github_button {
  text-decoration: none;
  color: #22223B;
  padding: 15px;
  border: 2px solid #22223B;
  font-weight: 600;
  font-size: 22px;

  transition-property: transform;
  transition-duration: 1s;
}

.github_button:hover{
  transform: rotateY(180deg);
}


.contact_page {
  background-color: green;
  padding-top: 190px;
  height: calc(100vh - 225px);

  background: linear-gradient(#3D3D3D -52.38%, #FFFFFF 52.26%);
  mix-blend-mode: normal;

  display: flex;
  justify-content: center;
}

.contact_words {
  text-align: end;
  flex: 1;
}

.im_glad {
  font-size: 50px;
  font-weight: 600;
  margin: 40px;
}

.contact_par {
  font-size: 22px;
  line-height: 35px;
  margin: 40px;
}

.icon_group {
  display: flex;
}

.icons {
  display: flex;
  flex-direction: column;
  flex: 1.2;
}

.icon_img {
  margin-bottom: 30px;
  margin-right: 20px;

  transition: 0.6s cubic-bezier(0.34, 1.56, 0.64, 1.7);
}

.icon_words {
  font-size: 62px;
  font-family: 'Sonsie One', cursive;
  text-decoration: none;
  color: black;

  opacity: 0.0;
  transform: translateX(-100px);
  transition: 0.6s cubic-bezier(0.34, 1.56, 0.64, 2.7);
}
.icon_group:hover .icon_words {
  opacity: 1.0;
  transform: translateX(0px);
}
.icon_group:hover .icon_img {
  -webkit-transform: scale(.8);
  -ms-transform: scale(.8);
  transform: scale(.8);
}
